{% extends "layout-users.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block main %}
<form action="/signup" method="post" class="needs-validation" novalidate>

    <img class="mb-4" src="{{ url_for('static', filename='images/logo/logo2.png') }}" alt="Logo" width="120" height="120" style="object-fit: contain;">
    <h1 class="h3 mb-3 fw-normal">Create Account</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger mb-3 text-center" role="alert">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="username" name="username" placeholder=" " value="" required>
      <label for="username">Username</label>
      <div class="invalid-feedback">
        Please provide a Username.
      </div>
    </div>

    <div class="form-floating mb-2">
      <input type="password" class="form-control" id="password" name="password" placeholder=" " value="" required>
      <label for="password">Password</label>
      <div class="invalid-feedback">
        Please provide a password.
      </div>
    </div>

    <div class="form-floating mb-2">
        <input type="password" class="form-control" id="confirmation" name="confirmation" placeholder=" " value="" required>
        <label for="confirmation">Confirm Password</label>
        <div class="invalid-feedback">
          Please confirm your password.
        </div>
    </div>

    <button class="w-100 btn btn-lg btn-danger mb-3" type="submit">Create Account</button>

    <div class="text-center mb-4">
      <a href="/login"><strong>Already have an account? Login!</strong></a>
    </div>

    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    </ul>


</form>

{% endblock %}
