{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

{% if session["user_id"] %}

{% for id in ids %}

<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <img class="img-fluid bd-placeholder-img bd-placeholder-img-lg d-block w-100" src="../static/img.png" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect></img>









<main class="container">
<p></p>



   




      <div class="col-md-4">
        <div class="position-sticky" style="top: 5rem;">

        {% for id in ids %}

        <form action="/buy" method="post">

        <div class="col">
          <div class="card shadow-sm">
            <img src="../static/courses/{{ id.id }}.png" class="bd-placeholder-img card-img-top" width="100%" height="225" alt="...">

            <div class="card-body">
              <p class="card-text fw-bold">{{}}</p>
              <p class="card-text">{{ id.text }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-outline-secondary" id="id" name="id" value="{{ id.id }}">Enroll</a>
                </div>
                <small class="fs-6 fw-semibold">{{ id.price }}</small>
              </div>
            </div>
          </div>
        </div>

      </form>

        {% endfor %}


        </div>
      </div>
    </div>

  </main>

{% endfor %}
{% endif %}


{% endblock %}
