{% extends "layouts/main.html" %}

{% block title %}მთავარი{% endblock %}

{% block main %}

    {% include 'pages/main/partials/_hero.html' %}
    {% include 'pages/main/partials/_stats.html' %}
    {% include 'pages/main/partials/_threat_intel.html' %}
    {% include 'pages/main/partials/_methodology.html' %}
    {% include 'pages/main/partials/_courses_list.html' %}
    {% include 'pages/main/partials/_ai_mentor_cta.html' %}
    {% include 'pages/main/partials/_roadmap.html' %}
    {% include 'pages/main/partials/_tech_stack.html' %}
    {% include 'pages/main/partials/_expert_spotlight.html' %}
    {% include 'pages/main/partials/_platform_features.html' %}
    {% include 'pages/main/partials/_reviews.html' %}
    {% include 'pages/main/partials/_comparison.html' %}
    {% include 'pages/main/partials/_faq.html' %}
    {% include 'pages/main/partials/_cta_footer.html' %}

{% endblock %}